  <div class="container">
      <nav>
        <a href="#" class="nav-item" id="first-nav"><button class="nav-button" type="button" name="button">Dames</button></a>
        <a href="#" class="nav-item"><button class="nav-button" type="button" name="button">Heren</button></a>
        <a href="#" class="nav-item"><button class="nav-button" type="button" name="button">Jongens</button></a>
        <a href="#" class="nav-item"><button class="nav-button" type="button" name="button">Meisjes</button></a>
      </nav>

    <footer></footer>
  </div>
