body{
  background-color: black;
  font-family: Calibri;
}
p{
  color: #5e5c56;
}
h1,h2,h3{
  color: #c0cb7f;
}
a{
  color: #677f51;
}
a:hover{
  text-decoration: underline;
}
table{
  width: 250px;
  border: 1px;
  border-color: #a64626;
  background-color: #222222
}
ul{
  border-radius: 0%;
    color: #5e5c56;
}
li{
    color: #5e5c56;
}
ol{
  list-style-type: lower-greek;
    color: #5e5c56;
}
video{
  width: 800px;
  height: 450px;
}
.content{
  position: absolute;
  margin-left: 1000px;
  padding-top: 50px;
  top: 40px;
}
iframe{
  width: 800px;
  height: 450px;
}
